
<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
   
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Agro-Bidding</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet"  href="" th:href="@{/css/table.css}">
    <!-- CSS Files -->
 <link rel="stylesheet"  href="" th:href="@{/css/bootstrapmin.css}">
     <link rel="stylesheet"  href="" th:href="@{/css/lightbootstrap.css}">
   
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="../assets/img/sidebar.jpg">

 
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="" class="simple-text">
                    Agro-Bidding
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                     <li>
                        <a class="nav-link" href="/list">
                            <i class="nc-icon nc-circle-09"></i>
                            <p> Your Product</p>
                        </a>
                    </li>
                    
                    
                    <li>
                        <a class="nav-link" href="/table">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Add Products</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/logout">
                            <i class="nc-icon nc-notes"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                    
                   
                    
                </ul>
 
            </div>
        </div>
        
       

      



</html>