<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"  href="" th:href="@{/css/home.css}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

</head>
<body>

 <div class="header">
    <div class="container flex">
      <div class="logo">
     <img src="" th:src="@{/images/agrobotics.png}" alt="Logo" class="logo">
      </div>
<div class="nav">
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/indexproduct">Products</a></li>
    <li><a href="/farmer">Login</a></li>
    
  </ul>




</div>
</div>

</body>
</html>